<section id="exercises">
    <h2>Exercises</h2>
    <ul class="filters">
        <li class="active-filter">Muscles</li>
        <li>Body parts</li>
        <li>Equipment</li>
        <li class="searchbar visibility"><input type="text" placeholder="Search"><svg><use href="./images/symbol-defs.svg#search"></use></svg></li>
    </ul>
    <ul class="categories muscles">
        
    </ul>
    <ul class="pagination">
        <li>&larr;</li>
        <li class="active-page" id="counter">1</li>
        <li>&rarr;</li>
    </ul>
</section>
