<footer class="footer">
    
        <div class="box-list">
            <div class="box-social">
                <h2 class="title-footer-social">energy.flow</h2>
                <ul class="list-social-footer">
                    <li class="li-social-footer"> <a href="https://www.facebook.com/goITclub/"><svg
                                class="svg-social-footer">
                                <use href="./images/symbol-defs.svg#facebook"></use>
                            </svg></a></li>
                    <li class="li-social-footer"> <a href="https://www.instagram.com/goitclub/"><svg
                                class="svg-social-footer">
                                <use href="./images/symbol-defs.svg#instagram"></use>
                            </svg></a></li>
                    <li class="li-social-footer"> <a href="https://www.youtube.com/c/GoIT"><svg
                                class="svg-social-footer">
                                <use href="./images/symbol-defs.svg#youtube"></use>
                            </svg></a></li>
                </ul>
            </div>
            <div class="box-text-footer">
                <p class="text-footer">Transforming <br> your <span class="text-footer-span">body</span> shape with
                    us
                </p>
            </div>
            <div class="box-registration-footer">
                <ul class="list-registration-footer">
                    <li class="link-registration-footer">
                        <h2 class="text-link-registration-footer">Subscribe and learn about new exercises!</h2>
                    </li>
                    <li class="link-registration-footer"><input class="input-registration-footer"
                            placeholder="Email" type="text"></li>
                    <li class="link-registration-footer"><button type="submit"
                            class="button-registration-footer">Send</button></li>
                </ul>
            </div>
            <div class="box-links">
                <ul class="list-links">
                    <li class="li-links"><a class="li-links-link" href="">Energy Flow. All rights reserved.</a></li>
                    <li class="li-links"><a class="li-links-link" href="">Privacy Policy / Terms of Service</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>