<section id="hero" class="hero">
  <!-- <div class="hero__img-box">
    <div class="hero__img"></div>
    <div class="hero__hashtags-box">
      <p class="hero__hashtags">#Sport</p>
      <p class="hero__hashtags">#Healthy</p>
      <p class="hero__hashtags">#Workout</p>
      <p class="hero__hashtags">#Diet</p>
    </div>
  </div>
  <div class="hero__card-box">
    <p class="hero__card-title">
      Get <span class="hero__card-span">Body</span> in shape, Stay healthy
    </p>
    <p class="hero__card-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
  </div> -->
</section>
