<section class="Quote-of-the-day">
    <div class="container">
        <div class="box-list-Quote-of-the-day">
            <div class="box-Quote-of-the-day">
                <ul class="list-1-Quote-of-the-day">
                    <li><svg class="">
                            <use href=""></use>
                        </svg></li>
                    <li>
                        <h2 class="title-list-1-Quote-of-the-day">Quote of the day</h2>
                    </li>
                    <li><svg class="">
                            <use href=""></use>
                        </svg></li>
                </ul>
                <ul class="list-2-Quote-of-the-day">
                    <li>
                        <p class="list-2-text"> A lot of times I find that people who are blessed with the most
                            talent don't ever develop
                            that attitude, and the ones who aren't blessed in that way are the most competitive
                            and
                            have the biggest heart.</p>
                    </li>
                    <li><a class="list-2-link" href="">Tom Brady</a></li>
                </ul>
            </div>
            <div>
                <img class="img-Quote-of-the-day" src="../images/mobile-quote.jpg" alt="">
            </div>
        </div>
    </div>
    </div>
</section>