<section class="Quote-of-the-day">
            
            
    <div class="box-Quote-of-the-day">
        <ul class="list-1-Quote-of-the-day">
            <li class="list-1-Quote-of-the-day-link"><svg class="svg-quote">
                    <use href="./images/symbol-defs.svg#human"></use>
                </svg></li>
            <li class="list-1-Quote-of-the-day-link">
                <h2 class="title-list-1-Quote-of-the-day">Quote of the day</h2>
            </li>
            <li class="list-1-Quote-of-the-day-link"><svg class="svg-quote">
                    <use href="./images/symbol-defs.svg#commas"></use>
                </svg></li>
        </ul>
        <ul class="list-2-Quote-of-the-day">
            <li class="list-2-link">
                <p class="list-2-text">A lot of times I find that people who are blessed with the most
                    talent don't ever develop that attitude, and the ones who aren't blessed in that way
                    are the most competitive and have the biggest heart.</p>
            </li>
            <li class="list-2-link"><a class="list-2-link-a" href="">Tom Brady</a></li>
        </ul>
    </div>
    <div>
        <picture>
            <source srcset="./images/mobile-quote-1x.png 1x, ./images/mobile-quote-2x.png 2x" media="(max-width: 767px)">
            <source srcset="./images/desktop-quote-1x.png 1x, ./images/desktop-quote-2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./images/tablet-quote-1x.png 1x, ./images/tablet-quote-2x.png 2x" media="(min-width: 768px)">
            <img src="./images/desktop-quote-1x.png">
        </picture>
    </div>
</section>