.favorites-quote {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    width: 100%;
    div {
        width: 100%;
        border-radius: 30px;
    }
    > div:last-child {
        height: auto;   
        display: flex;
        flex-direction: column;    
    }
}

.quote-image {
    background-image: url(../images/mobile-favorites-1x.png);
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx){
        background-image: url(../images/mobile-favorites-2x.png);
    }
    height: 272px;
}

.quote {
    
    height: auto;
    position: relative;
    box-sizing: border-box;
    padding: 40px 22px 40px 66px;
    > svg {
        position: absolute;
        right: 20px;
        top: 40px;
        fill: white;
        width: 28px;
        height: 28px;
    }
    background: #7E847F;
    h2 {
        position: relative;
        color: #F6F6F6;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        svg {
            width: 34px;
            height: 32px;
            position: absolute;
            left: -44px;
            top: 0;
        }
    }
    p {
        margin: 14px 0px;
        color: rgba(246, 246, 246, 0.60);
        font-size: 14px;
        line-height: 1.28;
    }
    h3 {
        color: #F6F6F6;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    }
}

.quote-daily {
    background: #fff;
    padding: 96px 100px;
    box-sizing: border-box;
    svg {
        width: 20px;
        height: 20px;
        
    }
    h2 {
        margin-top: 15px;
        margin-bottom: 6px;
        color: #1B1B1B;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
    }
    p {
        color: rgba(27, 27, 27, 0.60);
        font-size: 14px;
        line-height: 1.28;
    }
}

@media screen and (min-width: 768px) {
    .favorites-quote {
        margin-top: 180px;
        gap: 16px;
        // div {
        //     height: 302px;
        // }
        > div:last-child {
            flex-direction: row;
            div {
                width: 368px;
            }
        }
    }
    .quote-image {
        background-image: url(../images/tablet-favorites-1x.png);
        @media screen and (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx){
            background-image: url(../images/tablet-favorites-2x.png);
        }
        height: 302px;
    }
        .quote {
            padding: 64px 80px 64px 130px;
            h2 {
                font-size: 24px;
                line-height: 1.33;
                svg {
                    left: -48px;
                }
            }
            p {
                margin: 16px 0px 25px 0px;
                font-size: 16px;
                line-height: 1.5;
            }
            > svg {
                right: 80px;
                top: 32px;
                width: 48px;
                height: 48px;
            }
        }
        .quote-daily {
            h2 {
                font-size: 24px;
                line-height: 1.33;
            }
        }
}

@media screen and (min-width: 1440px) {
    .favorites-quote {
        margin-top: 156px;
        flex-direction: row;
        gap: 0px;
        > div:last-child {
            div {
                width: 352px;
            }
        }
    }
    .quote-image {
        background-image: url(../images/desktop-favorites-1x.png);
        @media screen and (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx){
            background-image: url(../images/desktop-favorites-2x.png);
        }
    }
    .quote {
        width: 704px;
        padding: 64px 64px 64px 114px;
    }
}