footer {
    margin-top: 16px;
    border-radius: 30px;
    background-image: url(../images/mobile-footer-1x.png);
    background-size: cover;
    width: 335px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 30px;
    @media screen and (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx){
        background-image: url(../images/mobile-footer-2x.png);
    }
    @media screen and (min-width:768px) {
        background-image: url(../images/tablet-footer-1x.png);
        @media screen and (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx){
            background-image: url(../images/tablet-footer-2x.png);
        }
        width: 736px;
        border-radius: 50px;
        height: 576px;
    }
    @media screen and (min-width: 1440px) {
        background-image: url(../images/desktop-footer-1x.png);
        @media screen and (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx){
            background-image: url(../images/desktop-footer-2x.png);
        }
        width: 1408px;
        height: 454px;
    }
}

.title-footer-social {
    color: #F6F6F6;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 9px;
    letter-spacing: -0.32px;


@media screen and (min-width: 768px) {
    text-align: left;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 28px;
    letter-spacing: -0.56px;
}

@media screen and (min-width: 1440px) {
    margin-left: 15px;
    margin-bottom: 20px;
    letter-spacing: -0.02em;
    line-height: 28px;
}

}

.box-list {



@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
}

@media screen and (min-width: 1440px) {}

}

.box-social {
padding-left: 25px;
margin-bottom: 40px;
padding-top: 40px;

@media screen and (min-width: 768px) {
    padding-top: 0px;
}

@media screen and (min-width: 1440px) {
    padding-left: 48px;
}
}



.list-social-footer {
display: flex;

}



.text-footer {


    color: #F6F6F6;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px; /* 100% */
    letter-spacing: -0.64px;


@media screen and (min-width: 768px) {
    
   
    font-size: 54px;  
    line-height: 50px; 
    letter-spacing: -1.08px;
}

@media screen and (min-width: 1440px) {
   
    font-size: 64px;
    line-height: 62px;
    letter-spacing: -0.02em;
    text-align: left;
}

}

.text-footer-span {



color: rgba(246, 246, 246, 0.30);
font-size: 32px;
font-style: italic;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.64px;


@media screen and (min-width: 768px) {
    font-size: 54px;
    line-height: 50px;
    letter-spacing: -1.08px;
}

@media screen and (min-width: 1440px) {
    font-size: 64px;
    line-height: 62px;
    letter-spacing: -1.28px;
    text-align: left;
}

}

.svg-social-footer {
    display: flex;
    width: 20px;
    height: 20px;
    fill: #F6F6F6;
    justify-content: center;
    align-items: center;
@media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
}

@media screen and (min-width: 1440px) {}
}

.li-social-footer {
    display: flex;
    margin-right: 12px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 10px;
border: 1px solid rgba(246, 246, 246, 0.20);

@media screen and (min-width: 768px) {}
@media screen and (min-width: 1440px) {}

}

.li-social-footer:last-child {
margin-right: 0px;
}



.box-text-footer {

margin-left: 20px;
margin-bottom: 20px;
    width: 279px;

@media screen and (min-width: 768px) {
    width: 345px;
    margin-bottom: 50px;
    margin-left: 145px;
}

@media screen and (min-width: 1440px) {
    margin-left: 160px;
    width: 488px;
    height: 186px;
    margin-right: 160px;
}
}

.text-link-registration-footer {

    color: #F6F6F6;
font-size: 14px;
font-weight: 400;
line-height: 18px; 


@media screen and (min-width: 768px) {
font-size: 18px;
line-height: 24px; 
}

@media screen and (min-width: 1440px) {}
}

.input-registration-footer {
    display: flex;
    padding: 12px 90px 12px 14px;
    align-items: center;
    background-color: transparent;
    color: #F6F6F6;
    gap: 10px;
    border-radius: 30px;
border: 1px solid #F6F6F6;


@media screen and (min-width: 768px) {
    padding: 12px 116px 12px 14px;
}

@media screen and (min-width: 1440px) {
    padding: 12px 116px 12px 14px;
}
}

.button-registration-footer {

    display: flex;
    padding: 12px 120px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F6F6F6;
   
    border: none;
    background: #7E847F;


@media screen and (min-width: 768px) {
    padding: 12px 134px;
}

@media screen and (min-width: 1440px) {
    padding: 12px 132px;


}
}

.link-registration-footer {
margin-bottom: 20px;
}

.link-registration-footer:last-child {
margin-bottom: 0px;
}

.list-links {

    @media screen and (min-width: 768px) {
        display: flex;
}
    @media screen and (min-width: 1440px) {
       
        
       
}
}

.li-links-link {
color: #F6F6F6;

font-size: 14px;

font-weight: 400;
line-height: 18px;
/* 128.571% */
letter-spacing: -0.28px;
opacity: 0.9;

}

.li-links {
margin-right: 32px;
}

.li-links:last-child {
margin-right: 0px;
}

.box-links {
margin-left: 20px;
    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto
}
    @media screen and (min-width: 1440px) {
        padding-top: 110px;

        
       
}
}
.box-registration-footer{
    margin-left: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {

       margin-left: 323px;
       margin-bottom: 120px;
}
    @media screen and (min-width: 1440px) {
        margin-left: 0px;
        margin-bottom: 0px;

        
       
}
}

