.footer {

    width: 1408px;
    height: 454px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(27, 27, 27, 0.70) 0%, rgba(27, 27, 27, 0.70) 100%), url(../../images/desktop-footer.jpg) lightgray 0px -688.667px / 100% 413.51% no-repeat;

}

.box-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
}
.box-social{
    padding-left: 48px;
}

.title-footer-social {
    margin-left: 45px;
    color: #F6F6F6;
    font-family: "DM Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 100% */
    letter-spacing: -0.56px;
}

.list-social-footer {
    display: flex;
}

.box-text-footer {
    width: 488px;
    height: 186px;
}

.text-footer {
    margin-top: 0px;
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    color: #F6F6F6;
    line-height: 62px;
    letter-spacing: -0.02em;
    text-align: left;

}

.text-footer-span {
    font-family: DM Sans;
    font-size: 64px;
    color: rgba(246, 246, 246, 0.30);
    font-style: italic;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.02em;
    text-align: left;

}

.svg-social-footer {
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}

.li-social-footer {
    border-radius: 10px;
    border: 1px solid rgba(246, 246, 246, 0.20);
    padding: 8px;
    align-items: center;
    gap: 8px;
    margin-right: 12px;

}

.li-social-footer:last-child {
    margin-right: 0px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

.box-text-footer {
    margin-left: 150px;
    width: 488px;
    height: 186px;
    margin-right: 150px;
}

.text-link-registration-footer {
    color: #F6F6F6;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.input-registration-footer {
    display: flex;
    padding: 12px 116px 12px 14px;
    align-items: center;
    gap: 10px;

    border-radius: 30px;
    border: 1px solid #F6F6F6;
    color: #F6F6F6;
}

.button-registration-footer {
    display: flex;
    padding: 12px 138px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #F6F6F6;
    border-radius: 30px;
    border: none;
    background: #7E847F;
}

.link-registration-footer {
    margin-bottom: 20px;
}

.link-registration-footer:last-child {
    margin-bottom: 0px;
}
.list-links{
    display: flex;
}
.li-links-link{
    color: #F6F6F6;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    opacity: 0.9;
    
}
.li-links{
    margin-right: 32px;
}
.li-links:last-child{
    margin-right: 0px;
}