ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px 0px;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

button {
    cursor: pointer;
}

:root {
    font-family: "DM Sans";
    font-weight: 400;
}

.container {
    width: 335px;
    outline: 1px red solid;
    margin-left: auto;
    margin-right: auto;

}

.home {
    opacity: 1;
}
p{
    margin: 0px;
}

.favorites {
    opacity: 1;
}

h1,h2,h3,h4,h5,h6,input {
    margin: 0;
    padding: 0;
}



@media screen and (min-width: 768px) {
    .container {
        width: 736px;
    } 
    body {
        padding: 16px 0px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1408px;
    }
}