body {
    padding: 20px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background: #F6F6F6;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

button {
    cursor: pointer;
}

:root {
    font-family: "DM Sans";
    font-weight: 400;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    > div {
        transition: 0.5s;
        position: absolute;
        z-index: 1;
        top: 20px;
        width: 100%;
        height: 100%;
    }
}

.home {
    opacity: 1;
}

.favorites {
    opacity: 1;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        padding: 16px;
    } 
}